html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header {
    height: 95vh;
    background: linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)),
        url('../img/hero.jpg') top/cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hprimary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
}

.hpmain {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: MoveInLeft 2s ease-in-out;

}

.hpsub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: MoveInRight 2s ease-in-out;
}

.about {
    background: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

.hsecondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.hsecondary:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* row section start here */
.htertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
    transform: translateY(-2px);
}

.btn-text:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: translateY(0);
}

.composition {
    position: relative;
}

.com_photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all .2s;
}

.com_p1 {
    left: 0;
    top: -2rem;
}

.com_p2 {
    right: 0;
    top: 2rem;
}

.com_p3 {
    left: 20%;
    top: 10rem;
}

.com_photo:hover {
    outline: 1.5rem solid #55c57a;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
    z-index: 20;
}

.composition:hover .com_photo:not(:hover) {
    transform: scale(.95);
}

.features {
    padding: 20rem 0;
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
}

.features>* {
    transform: skewY(7deg);
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    transition: all .3s;
}

.fbox-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

/* tour section style here */

.tours {
    background: #f7f7f7;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 51rem;
}

.card-side {
    width: 100%;
    height: 51rem;
    background: orangered;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    backface-visibility: hidden;
    transition: all .9s ease;
}

.card:hover .card-side {
    transform: rotateY(180deg);
}

.csfront {
    background-color: white;
}

.csback {
    transform: rotateY(180deg);
}

.csback-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.csback-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.csback-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .csfront {
    transform: rotateY(-180deg);
}


.card:hover .csback {
    transform: rotateY(0);
}

.cpicture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cp1 {
    background-image: linear-gradient(to right bottom, #f9b702, #ed5605), url('../img/nat-5.jpg');
}

.cp2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url('../img/nat-6.jpg');
}

.cp3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url('../img/nat-7.jpg');
}

.cheading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
}

.ch-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
}

.ch-span-1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.ch-span-2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.ch-span-3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.cdetails {
    padding: 3rem;
}

.cdetails ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.cdetails ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
}

.cdetails ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card-cta {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-price-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem;
}

.cponly {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.cprice {
    font-size: 6rem;
    font-weight: 100;
}

/* stories section style here start */
.stories {
    position: relative;
    background: #f7f7f7;
    padding: 15rem 0;

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.bgv-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.story {
    width: 75%;
    font-size: 1.6rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 10%);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
}

.story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
}

.story-img {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    transition: all .5s;
}

.story:hover .story-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%);
}

.story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.story-text {
    transform: skewX(12deg);
}

.book-form {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url('../img/nat-10.jpg');
    background-size: 100%;
    height: 50rem;
}